services:
  discord:
    build:
        context: .
        dockerfile: Dockerfile.discord
    volumes:
      - ./appsettings.json:/app/appsettings.json:ro
      - /usr/local/discord/channels:/app/channels
